ul.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: inline-flex;
  }
  
  li {
      width: 50%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 5vh;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  li a.active {
    background-color: tomato;
}